body {
  text-align: center;
}

#title {
  display:block;
  background-color: orange;
}
#buttonBar {
  display:block;
  background-color: red;
  height:30px;
}
#buttonBar button {
display: inline-block;
}

.fullPane {

  background-color: gray;
  height: 900px;
  width: 1000px;
  text-align: center;

}




#mainPane {
  background-color: gray;
  height: 900px;
  width: 1000px;
  text-align: center;
  display: none;
}

#welcomePane {
  display: none;

}

#propertiesPane {

}


#photoPane {
  float:left;
  margin : 0;
  width: 500px;
  height: 750px;
  background-color: green;
}
#choicePane {
  float:left;
  text-align: center;
  width: 200px;
  height: 750px;
  background-color: lightblue;
}

#settingsPane {
  float:left;
  text-align: center;
  width: 100px;
  height: 750px;
  background-color: yellow;
}

img {
  width:480px;
}
.answerButtons {
  width:150px;
  height: 75px;
  border: 1 solid black;
  display:block;
  margin: 0 auto;
}
.answerButtons:hover {
  background-color: darkgray;
}

.buttonBar {
  width: 200px;
  height: 30px;
  border: 1 solid black;
  display:inline-block;
  margin: 0 auto;
}
.buttonBar:hover {
  background-color: darkgray;
}

/* .slideThree */
.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
  content: 'OFF';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree:before {
  content: 'ON';
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.slideThree label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
  visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
  left: 43px;
}

/* end .slideThree */
